doctype html
html
  head
    link(rel="stylesheet", href="./styles/A4.css")
    title #{pageTitle}
  body
    page(size='A4')
      .printContainer

        // header
        #header
          .text-box.center-box
            h1 #{titleHeaderCenter}
            p #{subtitleHeaderCenter}
          .text-box.left-box
            h1 #{titleHeaderLeft}
            p #{subtitleHeaderLeft}
          .text-box.right-box
            h1 #{titleHeaderRight}
            p #{subtitleHeaderRight}

        // content
        #contenido
          h1 #{titleContent}
          p #{subtitleContent}

        // footer
        #footer
          .text-box.left-box
            h1 #{titleFooterLeft}
            p #{subtitleFooterLeft}
          .text-box.right-box
            h1 #{titleFooterRight}
            p #{subtitleFooterRight}
          // Note: if center-box is behind right-box or left-box it cover them
          // TODO: fix it in css
          .text-box.center-box
            h1 #{titleFooterCenter}
            p #{subtitleFooterCenter}
